@page "/events/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class=" card-title">Create New Events</h3>
<hr />
<br />

<FormComponent ButtonText="Create Event" eventModel="eventModel" OnValidSubmit="CreateEvent" />


@code {
	Event eventModel = new Event();

	private IList<Organizer>? Organizers;

	protected async override Task OnInitializedAsync()
	{
			Organizers = await _client.GetFromJsonAsync<List<Organizer>>($"{Endpoints.OrganizersEndpoint}");
	}

	private async Task CreateEvent()
	{
		await _client.PostAsJsonAsync(Endpoints.EventsEndpoint, eventModel);
		_navManager.NavigateTo("/events/");
	}
}