@page "/events/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>Edit Event</h3>


<FormComponent ButtonText="Update" OnValidSubmit="EditEvent" eventModel="eventModel" />

@code {
    [Parameter] public int id { get; set; }
    Event? eventModel = new Event();

    protected override async Task OnParametersSetAsync()
    {
        eventModel = await _client.GetFromJsonAsync<Event>($"{Endpoints.EventsEndpoint}/{id}");
    }

    async Task EditEvent()
    {
        await _client.PutAsJsonAsync($"{Endpoints.EventsEndpoint}/{id}", eventModel);
        _navManager.NavigateTo("/events/");
    }
}
