@page "/events/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@using TheCJTechShow.Shared.Domain
@using TheCJTechShow.Client.Static;
<h3>View</h3>

<FormComponent eventModel="eventModel" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Event? eventModel = new Event();
    
    protected async override Task OnParametersSetAsync()
    {
        eventModel = await _client.GetFromJsonAsync<Event>($"{Endpoints.EventsEndpoint}/{id}");
    }
}
